<%= render '/partials/navbar' %>

<section>
  <% @stories.each_with_index do |story, index| %>
    <% id = story["id"] %>
    <% url = story["url"] %>
    <% title = story["title"] %>
    <% domain_name = story["domain"] %>
    <% score = story["score"] %>
    <% by = story["by"] %>
    <% get_time_string = story["get_time_string"] %>
    <% kids_length = story["kids_length"] %>

    <div class="story">
      <div class="index">
        <%= index + 1 %>.
        <a href="https://news.ycombinator.com/item?id=<%= id %>"><img id="gray-arrow" src="/gray_triangle.png" /></a>
      </div>
      <div class="text">
        <p class="title">
          <a href=<%= url %>><%= title %>&nbsp;</a>
          <span class="domain"><%= domain_name %></span
        ></p>
        <ul>
          <li>
            <%= score %> points by 
            <a href="https://news.ycombinator.com/user?id=<%= by %>"><%= by %></a> 
            <a href="https://news.ycombinator.com/item?id=<%= id %>"><%= get_time_string %></a>
          </li>
          <li>
            hide
          </li>
          <li>
            <%= kids_length %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</section>